.DS_STORE
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea
*.iml
.vscode/*
!.vscode/launch.json
*.log
*.tsbuildinfo
/.eslintcache
/tmp

# testing
/coverage
test-report.xml

# Project exclude paths
**/dist
**/build
node_modules
.pnp
.pnp.js
package-lock.json
npm-debug.log*
